* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
  }
  body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    color: var(--text);
    font-family: Arial, sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
    padding: 0 20px;
  }
  .stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  }
  .details {
    width: 100%;
  }
  #progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
  }
  #progress {
    height: 10px;
    border-radius: 10px;
    background-color: var(--teal);
    width: 0%;
    transition: width 0.3s ease;
  }
  #numbers {
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
  }
  form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
  }
  input {
    flex: 1;
    padding: 16px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
  }
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .task-list {
    list-style: none;
    width: 100%;
    margin-top: 30px;
  }
  .taskItem {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondaryBackground);
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
  }
  .task p {
    margin-left: 10px;
  }
  .task.completed p {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .task {
    display: flex;
    align-items: center;
  }
  .icons i {
    margin-left: 10px;
    cursor: pointer;
  }
  .celebration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeOut 2s ease forwards 2s;
  }
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }